doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Server IP
  style.
    body {
    background-color: rgb(212, 223, 230);
    }
div(style='margin-top: 100px; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 0.1;')
  h1(style='font-size: 50px;') Hi there!
  h2 Your server ip in here:
  h1(style='font-size: 100px;')= ip
  h3= 'Last update: ' + lastUpdate
